
<%= simple_form_for(@order) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <h3>Books</h3>
  <div id="BOoks">

    <%= f.simple_fields_for :orders_books do |book| %>
        
          <%= render 'orders_book_fields', f: book %>

      <% end %>
  </div>
    <div class="d-flex justify-content-center mt-4 mb-4">
    <%= link_to_add_association 'Agregar Libro', f, :orders_books,class:"btn btn-success" %>
    </div>
  </div>
  <%= f.input :payment_method, collection: ["Paypal","Tarjeta"] %>
  <%= f.input :delivery_method, collection: ["DHL","FEDEX","UPS"] %>
  <% if current_user.admin_role? || current_user.superadmin_role? %>
    <%= radio_button_tag(:s, "cancel") %>
      <%= label_tag(:s, "cancel") %>
    <%= radio_button_tag(:s, "finalize") %>
      <%= label_tag(:s, "finalize") %>  
  <%end%>
  <div>
    <button id="pricing" type="button", class="btn btn-success">Precio</button>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
