<div class="nested-fields row  justify-content-center align-items-end" id="test">
  
  <div class="col-6">
    <%= f.input :book_id,label:"Books", collection: Book.all,
    label_html:{class:"form-label"}, input_html:{class:"book"}%>
    <%= f.input :quantity %>
  </div>
  <div class="col-2">
    <%= link_to_remove_association "Eliminar", f, class: "btn btn-danger" %>
  </div>
<%= f.input :_destroy, as: :hidden%>
</div>
