<p id="notice"><%= notice %></p>

<h3>Orden <%= @order.id %></h3>
<h2> Libros en la Orden</h2>
<% @ticketing.each do |book|%>
  <div>
    <%= book[1]%> | <%= book[0] %> x <%= book[2]%> = <%= book[1].to_i * book[2].to_i%>
  </div>
<%end%>
<div>
  Total: <%= @acum%>
</div>
<div>
  Metodo de pago: <%= @order.payment_method%>
</div>
<div>
  Metodo de envio: <%= @order.delivery_method %>
</div>
<div>
  Estado del envio: <%= @order.status %>
</div>
<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
