<div class="container">

  <% if !@books.blank?%>
    <h1> Books </h1>
    <table class="table table-striped table-hover table-dark">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Author</th>
          <th scope="col">Number Of Copies</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
      <% @books.each do |book|%>
        <tr>
          <td scope="row"><%= book.name %></td>
          <td><%= book.author %></td>
          <td><%= link_to 'Ver el Libro', book, class:"btn btn-info"%></td>
        </tr>
      <%end%>
      </tbody>
    </table>
  <%else%>
    <h5>Couldn't Find Book</h5>
  <%end%>
</div>