<div class="nested-fields row  justify-content-center align-items-end">
  
  <div class="col-6">
    <%= f.input :category_id,label:"Category", collection: Category.all,
    label_html:{class:"form-label"}%>
  </div>
  <div class="col-2">
    <%= link_to_remove_association "Eliminar", f, class: "btn btn-danger" %>
  </div>
<%= f.input :_destroy, as: :hidden%>
</div>