<%= simple_form_for @book do |f| %>
  <%= f.input :name%>
  <%= f.input :author %>
  <%= f.input :number_of_copies%>
  <%= f.input :price%>
  <%= f.input :cover%>
  <h3>Categories</h3>
  <div id="categories">

    <%= f.simple_fields_for :books_categories do |category| %>
        
          <%= render 'books_category_fields', f: category %>

      <% end %>
  </div>
    <div class="d-flex justify-content-center mt-4 mb-4">
    <%= link_to_add_association 'Agregar Categoria', f, :books_categories,class:"btn btn-success" %>
    </div>
  </div>
  <%= f.button :submit %>
<%end%>