<p id="notice"><%= notice %></p>


<h1>Books</h1>
<% if !@top_seller.blank? %>
  <h3>Top Seller</h3>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th colspan="3"></th>
      <tr>
    </thead>
    <tbody>
      <% @top_seller.each do |book| %>
      <tr>
        <td><%= book.name %></td>
        <td><%= book.author %></td>
        <td><%= book.number_of_copies %></td>
        <td><%= link_to 'Show', book %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<%end%>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Author</th>
      <th>Number of copies</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.name %></td>
        <td><%= book.author %></td>
        <td><%= book.number_of_copies %></td>
        <td><%= link_to 'Show', book %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path %>
