<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Number of copies:</strong>
  <%= @book.number_of_copies %>
</p>
<% if !@recommendedBooks.blank? %>
  <h3>Books like <%= @book.name %></h3>
    <table class="table table-striped table-hover table-dark">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Author</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
      <% @recommendedBooks.each do |book|%>
        <tr>
          <td scope="row"><%= book.name %></td>
          <td><%= book.author %></td>
          <td><%= link_to 'Ver el Libro', book, class:"btn btn-info"%></td>
        </tr>
      <%end%>
      </tbody>
    </table>
<%end%>
<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
